* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
body{
    background-color: #222222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;


}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px ;
    flex: 1;
    margin-right: 16px;
    font-size: 19px;
}
.searchBtn{
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    border-radius: 50% ;
    cursor: pointer;
}
.searchBtn img{
    width: 20px;
}
.weathericon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 12px;
    display: none;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 40px;
}
.details img{
    width: 50px;
     margin-right: 10px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
   

}
.humidity,.wind{
    font-size: 26px;
}
@media  (max-width:600px) {
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px ;
    flex: 1;
    margin-right: 16px;
    font-size: 19px;
}
.searchBtn{
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 60px;
    height:40px;
    padding-left :8px ;
    padding-right: 8px;
    border-radius: 50% ;
    cursor: pointer;
}
.searchBtn img{
    width: 20px;



}
.card{
   
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 22px;
    text-align: center;


}
}
